html, body {
    height: 100%;
}

body {
    background: linear-gradient(346deg, rgba(183,187,199,1) 22%, rgba(140,147,169,1) 52%, rgba(108,117,146,1) 75%);
}

.jumbotron {
    padding: 2em 1em !important;
}

.content {
    min-height: 20rem;
}

@media(max-width: 768px) {
    #productsCarousel img {
        width: 40%;
    }
}

.product-caption {
    color: azure;
}

.product-store-link a {
    color: #1363c7;
}

.footer {
    background-color: #e9ecef;
    padding: 1em;
    position: absolute;
    bottom: 0px;
    font-size: 0.75em;
}